<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Andrea Riccardi">
    <title>Annunci Riccardi</title>
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div th:replace="bMaster :: headerCopia"></div>

<div class="container">
    <h3>Modifica Item</h3>
    <main>
        <form method="post"  enctype="multipart/form-data" th:action="@{'item/' + ${oggetto?.id}+'/edit'}">

            <label for="fauthor">Autore:</label>
            <br>
            <select name="author" id="fauthor" class="form-select" aria-label="Default select example" required>
                <option th:value="${oggetto?.author?.getUsername()}" th:text="${oggetto?.author?.getUsername()}"></option>op
            </select>
            <br>

            <label for="fcategoria">Categoria:</label>
            <br>
            <select name="category" id="fcategoria" class="form-select" aria-label="Default select example" required>
                <option th:each="categoria : ${categorie}" th:value="${oggetto?.category?.category}" th:text="${oggetto?.category?.category}"></option>
            </select>

            <br>
            <label>Tipo di annuncio:</label>
            <br>
            <div name="annuncio">
                <div class="form-check">
                    <input class="form-check-input" th:value="${oggetto?.annuncio}" type="radio" name="annuncio" value="richiesta" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Richiesta
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" th:value="${oggetto?.annuncio}" type="radio" name="annuncio" value="offerta" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Offerta
                    </label>
                </div>
            </div>
            <br>

            <br><br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titolo:</label>
                <input th:value="${oggetto?.title}" name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titolo articolo" required>
            </div>

            <br>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descrizione:</label>
                <input type="text" th:value="${oggetto?.description}" name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" required></input>
            </div>


            <br>
            <input type="submit" class="btn btn-secondary btn-lg" value="Edit">

        </form>
        <br>
        <br>
        <form th:action="@{/delete}" method="post" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <input type="text" name="id" th:value="${oggetto.id}" id="idof2" hidden>
            <input type="submit" class="btn btn-secondary btn-lg" value="Delete">
        </form>

    </main>
</div>

<div th:replace="bMaster :: footerCopia"></div>
</body>
</html>