<!DOCTYPE html>
<html lang="it">

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Andrea Riccardi">
    <title>Annunci Riccardi</title>
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" th:fragment="headerCopia" role="navbar">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" role="header">
        <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img th:src="@{/images/logo.jpg}" alt="Andrea Riccardi Logo" height="60" width="60">
            <h3>&nbsp;</h3>
            <h3>Annunci Riccardi</h3>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" role="menubar">
            <li><a th:href="@{/bIndex.html}" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a th:href="@{/bCreaItem.html}" class="nav-link px-2 link-dark" sec:authorize="isAuthenticated()">Crea Item</a></li>
            <li><a th:href="@{/bItemDetails.html}" class="nav-link px-2 link-dark" sec:authorize="isAuthenticated()">Mostra Item</a></li>
            <li><a th:href="@{'/bConfronta.html/' + ${#authentication.name}}" class="nav-link px-2 link-dark" id="confronta" sec:authorize="isAuthenticated()">Confronta</a></li>
            <li><a th:href="@{'/bPreferiti.html/' + ${#authentication.name}}" class="nav-link px-2 link-dark" id="preferiti" sec:authorize="isAuthenticated()">Preferiti</a></li>
            <!---TODO ADD ABOUT PAGE-->

            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <!---TODO LOGIN BUTTONS PAGE-->
        <div class="col-md-3 text-end" role="authentication">
            <label>Benvenuto: </label>
            <label id="user1" th:text="${#authentication.name}"></label>
            <div class="row">

                <form th:action="@{/item/search}" method="get">
                <div class="col-6 col-md-8">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="q" name="q" class="form-control" role="search"/>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-2" hidden>
                    <input type="submit" class="btn btn-outline-primary me-2" id="search" value="Search" hidden disabled></input>
                </div>

                </form>
                <div class="col-6 col-md-3">
                    <form th:action="@{/login}" method="get">
                        <input type="submit" class="btn btn-outline-primary me-2" value="Login" sec:authorize="isAnonymous()" role="button"></input>
                    </form>
                </div>
                <div class="col-6 col-md-3">
                    <form th:action="@{/register}" method="get">
                    <input value="Sign up" type="submit" class="btn btn-primary" sec:authorize="isAnonymous()" role="button"></input>
                    </form>
                </div>
                <div class="col-6 col-md-3">
                    <form th:action="@{/logout}" method="get">
                    <input type="submit" class="btn btn-outline-primary me-2" value="Logout" sec:authorize="isAuthenticated()" role="button"></input>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>

<footer class="footer" th:fragment="footerCopia">
    <div class="container">
        <span class="text-muted"><small> Copyleft CC-by 2021 by "Andrea Riccardi"</small></span>
    </div>
    <script type="text/javascript" th:src="@{/javascript/search.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/confronta.js}"></script>
</footer>

</body>
</html>