<!DOCTYPE html>
<html lang="en">

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Item Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/baseStyle.css}"/>
</head>
<body>
<header>
    <div class="top_logo_name">
        <img th:src="@{/images/logo.jpg}" class="imagelogo" alt="Andrea Riccardi Logo">
        <h1>Riccardi Annunci</h1>
        <img th:src="@{/images/logo.jpg}" class="imagelogo" alt="Andrea Riccardi Logo">
    </div>
</header>

<nav class="navigation">
    <a th:href="@{/index.html}">Home</a>
    <a th:href="@{/createItemForm.html}">Create Item</a>
    <a th:href="@{/itemDetails.html}">ShowItem</a>
    <a href="">About</a>
</nav>

<section class="creation">
    <hr>
    <h3 class="creation_box">Edit item</h3>

    <form class="creation_box" method="post">
        <label for="fauthor">Autore:</label>
        <select name="author" id="fauthor">
            <option th:each="utente : ${utenti}" th:value="${utente.getUsername()}" th:text="${utente.getUsername()}"></option>
        </select>
        <br><br>
        <label for="ftitle">Titolo:</label><br>
        <input type="text" id="ftitle" th:value="${oggetto?.title}" name="title"><br><br>

        <label for="fcategoria">Categoria:</label>
        <select name="category" id="fcategoria">
            <option th:each="categoria : ${categorie}" th:value="${oggetto?.category.category}" th:text="${categoria.category}"></option>
        </select><br><br>

        <label for="tannuncio">Tipo annuncio:</label>
        <select name="annuncio" id="tannuncio">
            <option value="offerta">Offerta</option>
            <option value="domanda">Domanda</option>
        </select><br><br>

        <label for="start">Data creazione:</label>
        <input type="date" id="start" name="date"
               value="2020-11-20"
               min="2018-01-01" max="2080-12-31" th:value="${oggetto?.date}"><br><br>

        <!-- TODO ENLARGE THE DESCRIZIONE SOCIO -->
        <label for="fdescription">Descrizione: </label><br>
        <input type="text" id="fdescription" th:value="${oggetto?.description}" name="description"><br><br>

        <input type="submit" value="Edit">

    </form>

</section>

<hr>
<footer>Copyleft CC-by 2021 by "Andrea Riccardi"</footer>
</body>
</html>